<!DOCTYPE html>
<html>
<head>
	<title>Test Template</title>
</head>
<body>
	<h1>{{ Name }}</h1>

	<nav>
		{{~#if IsLoggedIn~}}
			<a>Sign Out</a>
		{{~else~}}
			<a>Sign In</a>
		{{~/if~}}
	</nav>
	{{> Roles}}
</body>
</html>